.intro {
display: flex;
flex-direction: column;
max-width: 828px;
margin: 0px 304px 92px 148px;
}

.intro__title {
max-width: 828px;
margin-bottom: 40px;
font-size: 54px;
font-weight: 900;
line-height: 58px;
letter-spacing: 0em;
text-align: left;
}

.intro__subtitle {
max-width: 736px;
margin-bottom: 8px;
font-size: 24px;
font-weight: 400;
line-height: 34px;
letter-spacing: 0em;
text-align: left;
}

.intro__subtitle-author {
max-width: 736px;
margin-right: 16px ;
margin-bottom: 32px;
font-size: 24px;
font-weight: 400;
line-height: 34px;
letter-spacing: 0em;
text-align: right;
}

.intro__text {
max-width: 720px;
margin-bottom: 92px;
font-size: 16px;
font-weight: 400;
line-height: 26px;
letter-spacing: 0em;
text-align: left;
}

