@media screen and (max-width: 1111px) {  
    .place {
        max-width: 830px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 28px;
        row-gap: 46px;
    }
    
    .place__title {
        max-width: 410px;
        font-size: 42px;
        font-weight: 900;
        line-height: 46px;
        letter-spacing: 0em;
        text-align: left;
    }
    
    .place__image {
        max-width: 400px;
        margin-top: 46px;
        margin-bottom: 48px;
    }
    
    .place__frame {
        display: flex;
        max-width: 355px;
        max-height: 48px;
        border-radius: 4px;
        gap: 10px;
        background: #0278FE;
       
        }
    .place__frame-prase {
        width: 315px;
        font-size: 18px;
        font-weight: 600;
        line-height: 22px;
        letter-spacing: 0em;
        text-align: left;
        color: white;
    }
    
    
    
    .place__website {
        max-width: 400px;
        margin-top: 0px;
    }
    
    .place__website-url {
        max-width: 58px;
        margin-bottom: 8px;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0.12em;
        text-align: left;
        color: #AAAAAA;
    }
    
    .place__website-artist {
        max-width: 400px;
        margin-bottom: 46px;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.52px;
        letter-spacing: 0em;
        text-align: left;
    }
    
    .place__text-1 {
        max-width: 400px;
        margin-bottom: 25px;
        font-size: 16px;
        font-weight: 400;
        line-height: 26.08px;
        letter-spacing: 0em;
        text-align: left;
    }
    
    .place__text-2 {
        max-width: 400px;
        margin-bottom: 25px;
        font-size: 16px;
        font-weight: 400;
        line-height: 26.08px;
        letter-spacing: 0em;
        text-align: left;
    }
    
    .place__text-3 {
        max-width: 4002px;
        margin-bottom: 25px;
        font-size: 16px;
        font-weight: 400;
        line-height: 26.08px;
        letter-spacing: 0em;
        text-align: left;
    }
    
} @media screen and (max-width: 990px) {
    .places {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0px;
        align-items: center;
    }

    .place__kiev{
        max-width: 830px;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 28px;
        row-gap: 46px;
    }

    .place__Criccieth{
        max-width: 350px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .place__berea {
        max-width: 350px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .place__muramvya {
        max-width: 350px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; 
    }

    .place__volta {
        max-width: 350px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; 
    }
    
}

@media screen and (max-width: 768px) {
    .places {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        margin: 0px;
        align-items: center;
    }

    .place__kiev{
        max-width: 400px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .place__Criccieth{
        max-width: 350px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .place__berea {
        max-width: 350px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
    }

    .place__muramvya {
        max-width: 350px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; 
    }

    .place__volta {
        max-width: 350px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around; 
    }
    
    }
    
    @media screen and (max-width: 430px) {
        .place__kiev{
            max-width: 285px;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-around;
        }
        
        .place__image {
            max-width: 100%;
            margin-top: 30px;
            margin-bottom: 30px;
        }

        .place__frame {
            display: flex;
            max-width: 288px;
            max-height: 48px;
            border-radius: 4px;
            gap: 10px;
            background: #0278FE;
           
            }
        .place__frame-prase {
            width: 315px;
            font-size: 14px;
            font-weight: 600;
            line-height: 17px;
            letter-spacing: 0em;
            text-align: center;
            color: white;
        }
    }
    