@charset "UTF-8"

*{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body, html {
    width: 100vw;
    height: 100vh;
    margin: auto;
    
}

body{
    background-color: #2A2C2F;
    color: white;
    min-width: 320px;
}

.nav {
    width: 200px;
    height: 51.85px;
    margin: 20px auto;
}

.header{
    width: 220px;
    height: 88px;
    margin: 51px auto;
}

.header__title {
    width: 288px;
    height: 88px;
    font-family: 'Inter', sans-serif;
    font-size: 40px;
    font-weight: 900;
    line-height: 44px;
    text-align: center;
}

.header__subtitle {
    width: 288px;
    height: 40px;
    margin: 60px auto;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    text-align: center;
}

.header__image {
    width: 285px;
    height: 200px;
}